[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.x.cfg
    quality-assurance.cfg
    versions.cfg

package-name = sc.periodicals
package-extras = [test]

parts += i18ndude omelette

eggs +=
    sauna.reload

extensions = mr.developer
always-checkout = force
auto-checkout = collective.nitf

[instance]
zope-conf-additional +=
    %import sauna.reload

[i18ndude]
recipe = zc.recipe.egg
eggs = i18ndude

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[sources]
collective.nitf = git git@github.com:collective/collective.nitf.git
